#bg-login {
    background-image: url("../img/bg-login.jpg");
    min-height: 100vh;
    background-color: #cccccc;
    background-position: center;
    filter: brightness(60%);
}

form {
    margin-top: 27vh;
}

#btn-login {
    background-color: #582058;
    border-color: #582058;
}

#btn-login:hover {
    transition-duration: 0.4s;
    border-color: #F1511B;
    background-color: #F1511B;
}

#img-logo {
    width: 245px;
}